@mixin gradient-background {
	background: rgb(14, 17, 32);
	background: linear-gradient(
		90deg,
		$dark-primary 15%,
		$primary 45%,
		$secondary 71%
	);
}

@mixin transition-All {
	transition: all 15ms;
}

@function set-font-color($background-color) {
	$dynamic-color: #eee;
	@if (blackness($background-color) >=50) {
		$dynamic-color: $white;
	} @else {
		$dynamic-color: $black;
	}

	@return $dynamic-color;
}
