@use '../main.scss' as *;

#main-navbar {
	@include media-breakpoint-down(sm) {
		.container {
			width: 100%;
			margin: 0;
			padding: 0;
		}

		button {
			margin-right: 1rem;
			border: 2px solid $white;
		}

		#nav-logo {
			margin-left: 0.5rem;
			height: 50px;
			width: 50px;
		}

		#collapsibleNavId {
			margin-top: 0;
			padding-top: 0;
		}

		.navbar-toggler-icon {
			color: $white;
		}

		.navbar-nav {
			margin-top: 0;
			padding-top: 0;

			&:first-child {
				border-top: 2.5px solid $white;
			}

			.nav-item {
				@include gradient-background;
				@include transition-All;
				border-bottom: 2.5px solid $white;
				padding: 0.4rem 0.5rem;
				margin: 0;
				width: 100%;

				&:hover {
					@include hover-gradient-background;
				}

				.nav-link {
					border-bottom: none;

					&.active {
						border-bottom: none;
					}

					&:hover {
						border-bottom: none;
					}
				}
			}
		}
	}

	height: 6rem;
	&.bg-grad {
		@include gradient-background;
	}

	#nav-logo {
		width: 80px;
		height: 80px;
	}

	li {
		padding: 0 0.5rem;
		margin: 0 0.5rem;
	}

	.nav-item {
		font-size: 1.05rem;
		.nav-link {
			border-bottom: 3px solid transparent;
			color: $white;
			text-transform: capitalize;
			font-weight: 600;
			@include transition-All;

			&.active {
				border-bottom: 3px solid $white;
			}

			&:hover {
				border-bottom: 3px solid $white;
			}
		}
	}
}
