#home {
	&.showcase {
		@include media-breakpoint-down(sm) {
			padding-top: 1rem;
			padding-bottom: 10rem;
			text-align: center;

			#waves {
				width: 100%;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		@include gradient-background;
		font-family: 'Poppins', sans-serif;
		padding-top: 10rem;
		padding-bottom: 15rem;
		margin-bottom: 0;
		width: 100%;
		height: 100%;
		position: relative;

		.display-2 {
			color: $white;
		}

		#waves {
			margin: 0;
			padding-bottom: 0;
			z-index: 1;
			position: absolute;
			bottom: 0;
		}
	}

	.showcase-illustration {
		.video-box {
			position: relative;
			a {
				@include absoluteCenter;
				span {
					i {
						font-size: 6rem;
					}
				}
			}

			.border-animation {
				position: absolute;
				top: 0;
				left: 0;
				width: 6rem;
				height: 6rem;
				border: 0.3rem solid $white;
				border-radius: 50%;
				animation: pulse-border 2s linear infinite;

				&-border-1 {
					animation-delay: 1s;
				}

				&-border-2 {
					animation-delay: 1.5s;
				}
			}
		}
	}
}

#companies {
	padding: 0 0 5rem 0;
	text-align: center;
	margin-top: 0;

	.companies_logo-box {
		max-width: 100%;
		height: 5rem;
		margin-bottom: 2rem;
		padding: 0.5rem;
		text-align: center;
		position: relative;

		img {
			height: 100%;

			&:hover {
				filter: grayscale(100);
				cursor: pointer;
			}
		}
	}
}

#services {
	@include media-breakpoint-down(sm) {
		padding: 0.5rem 0.5rem;

		#service-title {
			margin-bottom: 0;
			margin-top: 0;
			padding: 0 0;
		}

		#trust {
			margin-top: 0;
			padding-top: 0;
		}

		.display-3 {
			margin-top: 0rem;
			margin-bottom: 0rem;
		}
	}

	padding: 1.5rem 0;
	position: relative;
	//@include gradient-background;
	.service-details-content {
		.icon {
			color: $primary;
		}
	}
}

#testimonials {
	&.testimonials {
		@include media-breakpoint-down(sm) {
			padding: 10rem 0.5rem 5rem 0.5rem;
			.car-row {
				align-items: start;
				margin-top: 0;
				padding-top: 0;
			}
			.display-3 {
				margin-bottom: 0;
				padding-bottom: 0;
			}

			.display-2-description {
				margin-bottom: 0;
				padding-bottom: 0;
			}

			#carouselExampleCaptions {
				padding: 0.5rem 2rem;
				margin-top: 0;
				align-items: start;

				.carousel-item {
					margin-top: 0;
					padding-top: 0;

					.testimonials_card {
						padding: 0;
						margin-top: 0;
					}

					.testimonials_card-picture {
						margin-top: 1.5rem;
					}
				}
			}
		}

		position: relative;
		padding: 25rem 0.5rem 25rem 0.5rem;
		min-height: 60rem;
		@include gradient-background;
		color: $white;

		.decor-line {
			&:before,
			&:after {
				background-color: $white;
			}
		}

		.wave {
			position: absolute;
			width: 100%;
			padding: 0;
			margin: 0;

			&-top {
				left: 0;
				right: 0;
				top: 0;
			}

			&-bottom {
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		#carouselExampleCaptions {
			padding: 5rem 0;
			text-align: center;

			.btn {
				@include transition-All;
				&:hover {
					background-color: $dark-primary;
				}
			}

			.testimonials_name {
				text-align: center;

				h3 {
					font-weight: bold;
				}
			}

			.testimonials_card {
				display: flex;
				background-color: $dark-primary;
				border: 0.3rem solid $white;
				padding: 4rem 2rem;
				border-radius: 0.625rem;
				height: 10rem;
				text-align: center;
				align-items: center;

				i {
					font-size: 1.5rem;
				}

				.ratings {
					margin-top: 0.5rem;
				}

				&-picture {
					width: 10rem;
					height: 10rem;
					border-radius: 50%;
					margin: 0.5rem auto;
					border: 0.2rem solid $white;
				}
			}
		}
	}
}

#faq {
	&.faq {
		.accordion-item {
			border: 4px solid $primary;
		}
	}
}
